update_period: 30  # sec

api:
  auth:
    base_url: "example.com"  # TODO
    token: "abc123"  # TODO
  version: 51
  language: "de"

request:
  stations:
    - name: "Hauptbahnhof"
      city: "Hamburg"
  max_list: 3  # Maximum number of departures in results

canvas:
  width: 128  # 64*2
  height: 32
