update_period: 30  # sec
max_failures: 10  # Stop main loop after X successive failures

api:
  auth:
    base_url: "example.com"  # TODO
    token: "abc123"  # TODO
  version: 51
  language: "de"

request:
  stations:
    - name: "Hauptbahnhof"
      city: "Hamburg"
  max_list: 3  # Maximum number of departures in results

canvas:
  width: 128  # 64*2
  height: 32
  lines: 3
  line_height: 10
  icon_width: 32
  font: "/.local/share/fonts/Roboto/Roboto-Regular.ttf"  # TODO
